@{
    ViewBag.Title = "Home Page";
}

<h2>
    Purchase Orders
</h2>
<hr />

<table class="table">
    <tr>
        <th> Order number</th>
        <th>Order date</th>
        <th>Vendor</th>
        <th>
            
        </th>
    </tr>
    <tr>
        <td>POR-0001</td>
        <td>@DateTime.Now.AddDays(-25)</td>
        <td>Vendor 1</td>
        <td></td>
    </tr>
    <tr>
        <td>POR-0001</td>
        <td>@DateTime.Now.AddDays(-55)</td>
        <td>Vendor 2</td>
        <td></td>
    </tr>
    <tr>
        <td>POR-0001</td>
        <td>@DateTime.Now.AddDays(-42)</td>
        <td>Vendor 1</td>
        <td></td>
    </tr>
</table>